:root {
  --text-color: #000000;
  --white-color: #ffffff;
  --main-color: #c09b5a;
  --sub-color: #ffe7ac;
  --font-color: #667085;
  --font-bg: 36px;
  --font-md: 32px;
  --font-sm: 24px;
  --font-xs: 18px;
  --font-xxs: 16px;
  --font-us: 12px;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container-fluid {
  padding: 0px;
  transition: 0.3s;
  overflow: hidden;
}

.footer .container{
  padding-top: 50px;
}


/* ===============Rooms-offers-section================== */

.Rooms-offers {
  min-height: 100vh;
  width: 100%;
  background: url("../assests/Rectangle 3699 (1).svg");
}

.Rooms-offers .card {
  border: none;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.02),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.Rooms-offers .carousel-control-next,
.Rooms-offers .carousel-control-prev {
  display: none;
}

.icon {
  color: var(--main-color);
  text-align: center;
  position: relative;
  top: 3px;
}

.Rooms-offers .carousel-indicators button {
  position: relative;
  bottom: -28px;
}

.contact-hide-box {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide-contact-us {
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
  color: #000000;
  padding-right: 100px;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.hide-contact-us::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  left: 50px;
  top: 30px;
}

#hide-check-room-btn{
  width: 105px;
height: 30px;

background: linear-gradient(180deg, #E1A63F 0%, #ECC98B 100%);
box-shadow: 0px 3px 5px rgba(254, 190, 30, 0.25);
border-radius: 50px;
}




/* ============RESPONSIVE MAXIMUM==================== */

@media screen and (max-width: 1200px) {
 
}

@media screen and (max-width: 991px) {


  /* ============ HEADER-TEXT-STYLE ================ */

  .header-title {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    display: inline-block;
  }

  .header-title::after {
    content: "";
    position: absolute;
    left: 0;
    top: 35px;
    height: 2px;
    width: 100%;
    background-color: #c09b5a;
  }

  /* ====================ROOMS-OFFERS-SECTION======================= */

  /* ================ HIDE-SECTION ==================== */

  .Rooms-offers {
    padding: 20px;
  }

  .Rooms-offers .hide-side {
    display: block;
  }

  .Rooms-offers .hide-side .check-room-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 40px;
    font-size: 12px;
    border: transparent;
    background: linear-gradient(180deg, #e1a63f 0%, #ecc98b 100%);
    box-shadow: 0px 3px 5px rgba(254, 190, 30, 0.25);
    border-radius: 50px;
    position: relative;
    left: -10px;
    margin-top: 5px;
  }



  .Rooms-offers .hide-side .hidedollars {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--main-color);
  }

  .Rooms-offers .hide-side .hidedollars span {

    font-weight: 600;
    font-size: 20px;
    color: var(--main-color);
  }

  .Rooms-offers .card-body .hide-side .icon-text {
    width: auto;
    padding-left: 0px;
  }

  .Rooms-offers .hide-side .date {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #262729;
  }

  .Rooms-offers .card-body .resturant-offer {

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #bfa055;
  }

  .Rooms-offers .card-body .card-description {

    font-weight: 400;
    font-size: var(--font-xs);
    color: #667085;
    font-size: 12px;
    text-align: justify;
    padding-right: 80px;
  }

  /* ============= 992PX THEN HIDE ================= */

  .Rooms-offers .card-body .right-side {
    display: none;
  }

  /* ============Rooms-offers-btn -HIDE ============= */

  .Rooms-offers-btn {
    display: none;
  }

  .Rooms-offers .dollarss {
    display: none;
  }

  .Rooms-offers .card-body .card-heading {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
  }


}

/* ============= 768PX START ================= */

@media screen and (max-width: 767px) {



}

/* ============RESPONSIVE MAXIMUM MOBILE-DEVICES==================== */

@media screen and (max-width: 575px) {
 

  .carousel-item #carousel-img-one {
    display: none;
  }
  .carousel-item #carousel-img-two {
    display: none;
  }

  .carousel-item #carousel-img-three {
    display: none;
  }

  .carousel-item #carousel-img-four {
    display: none;
  }
  .carousel-item #carousel-img-five {
    display: none;
  }

  .carousel-item .hide-carousel-img{
    height: 413px;
  }


}

@media screen and (max-width: 515px), (max-width: 480px) {

  .Rooms-offers .card-body .hide-side .icon-text {
    width: auto;
  }
  .Rooms-offers {
    padding: 0px;
  }

  .Rooms-offers .card{
    padding: 0px;
  }

  .Rooms-offers .card .card-body{
    padding: 0px 60px;
    padding-top: 20px;


}

.Rooms-offers .header-title{
  padding-left: 30px;
}

.Rooms-offers .header-title::after{
  left: 30px;
  width: 87%;
}


}

@media screen and (max-width: 415px),(max-width: 430px) {

  .container {
    padding: 0px;
  }

}

@media screen and (max-width: 355px) {

}


@media screen and (max-width: 300px) {

  .container {
    padding: 0px;
  }


}


@media screen and (max-width: 300px) {

}

/* ============RESPONSIVE MINIMUM==================== */

@media screen and (min-width: 576px) {
  .carousel-item #carousel-img-one {
    display: block;
  }

  .carousel-item #hide-caro-img1 {
    display: none;
  }

  .carousel-item #carousel-img-two {
    display: block;
  }

  .carousel-item #hide-caro-img2 {
    display: none;
  }

  .carousel-item #carousel-img-three {
    display: block;
  }

  .carousel-item #hide-caro-img3 {
    display: none;
  }

  .carousel-item #carousel-img-four {
    display: block;
  }

  .carousel-item #hide-caro-img4 {
    display: none;
  }
  .carousel-item #carousel-img-five {
    display: block;
  }

  .carousel-item #hide-caro-img5 {
    display: none;
  }
}

@media screen and (min-width: 768px) {


  /* =============Rooms-offers-section============ */

  /* ================== MAIN-SECTION-ROOM-OFFERS =================== */

  .Rooms-offers .card-body {
    padding-left: 0px;
  }

  .Rooms-offers .card-body .right-side {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Rooms-offers .card-body .card-heading {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
  }

  .Rooms-offers .card-body .bedroom-count {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #667085;
  }

  .Rooms-offers .card-body .date {
    color: #262729;
  }

  .Rooms-offers .card-body .right-side .icon-text {
    width: 350px;
  }

  .Rooms-offers .card .card-headerss {
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px;
    gap: 32px;
    background: var(--white-color);
    border: none;
  }

  .Rooms-offers .card .card-headerss img {
    width: 100%;
    height: 100%;
  }

  .Rooms-offers .card-body p {

    font-weight: 600;
    font-size: 16px;
    color: var(--main-color);
  }

  .Rooms-offers .card-body .card-description {

    font-weight: 400;
    font-size: var(--font-xxs);
    color: #667085;
    text-align: left;
    padding-right: 40px;
  }

  .Rooms-offers .card-body .resturant-offer {

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #bfa055;
  }

  .Rooms-offers-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 160px;
    height: 40px;
    background: #fff4e6;
    border: 1px solid var(--main-color);
    box-shadow: 0px 3px 5px rgba(254, 190, 30, 0.15);
    border-radius: 50px;
    transition: 0.3s;


  }

  .Rooms-offers-btn:hover{
    background-color: #ecc98b;
    transition: 0.3s;
    border: 1px solid #e1a63f;
  }


  .Rooms-offers-btn::after {
    content: "\1F862";
  }

  /* ================ HIDE-SECTION ==================== */

  .Rooms-offers .hide-side {
    display: none;
  }

  .Rooms-offers .hide-side .check-room-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 40px;
    font-size: 12px;
    border: transparent;
    background: linear-gradient(180deg, #e1a63f 0%, #ecc98b 100%);
    box-shadow: 0px 3px 5px rgba(254, 190, 30, 0.25);
    border-radius: 50px;
    border: 1px solid transparent;
  }

  .Rooms-offers .hide-side .check-room-btn:hover{
    transition: 0.5s;
    background: transparent;
    border: 1px solid #e1a63f;
  }

  .Rooms-offers .hide-side .hidedollars {

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--main-color);
  }

  .Rooms-offers .hide-side .hidedollars span {

    font-weight: 600;
    font-size: 20px;
    color: var(--main-color);
  }

  .Rooms-offers .card-body .hide-side .icon-text {
    width: 380px;
    padding-left: 0px;
    position: relative;
  }
}

/* ==========min-width 992px 游댮游멇리游릭游댯================= */

@media screen and (min-width: 992px) {


  .header-title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    display: inline-block;
  }

  .header-title::after {
    content: "";
    position: absolute;
    left: 0;
    top: 45px;
    height: 2px;
    width: 100%;
    background-color: #c09b5a;
  }

  .header-subtitle {

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
  }

  .Rooms-offers .card-body .card-description {

    font-weight: 400;
    font-size: var(--font-xxs);
    color: #667085;
    text-align: justify;
    width: 80%;
  }

}

/* ==========min-width 1200 游댮游멇리游릭游댯================= */

@media screen and (min-width: 1200px) {


}

@media screen and (min-width: 1400px) {

}
